
xslweb-jdk8-webservices-docker/xslweb-source/xslweb

xslweb-jdk8-frontend-docker/xslweb-source/xslweb

data/testfiles/

data/etc/SIP_Creator/

clamav-docker/test-urls.txt

*.tar

clamav-docker/up.sh

xslweb-jdk8-webservices-docker/up.sh

xslweb-jdk8-frontend-docker/up.sh

data/etc/xslwebfrontend/home/webapps/examples/

up.sh

test-urls.txt

data/etc/xslwebfrontend/home/.cache/

data/etc/xslweb/home/.cache/

data/etc/tomcatfrontend/logs/

data/etc/tomcat/logs/
