@if ((Model.md5 != null) || (Model.sha1 != null) || (Model.sha256 != null) || (Model.sha512 != null))
{
    <div class="card m">
        <div class="card-body">
            <h5 class="card-title">Checksum</h5>

            <p class="card-text">
                MD5 : @Model.md5
            </p>
            <p class="card-text">
                SHA1 : @Model.sha1
            </p>
            <p class="card-text">
                SHA256 : @Model.sha256
            </p>
            <p class="card-text">
                SHA512 : @Model.sha512
            </p>
        </div>
    </div>
}
